{#
 # Rosetta - A free (libre) Integrated Library System for the 21st century.
 # Copyright (C) 2019 José M. Moreno <josemmo@pm.me>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program. If not, see <https://www.gnu.org/licenses/>.
 #}

{% if results %}
    <div class="row no-gutters">
        {% for entity in results %}
            <div class="col-6 col-md-2">
                {% include 'components/search-result.html.twig' with {'entity': entity, 'loop': loop} only %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="py-4 text-center">
        <h2 class="mb-3">No results found</h2>
        <p>Try to narrow your search by filtering by title, author or database.</p>
    </div>
{% endif %}
